<% if(page.comments && theme.comments && theme.comments.disqus_shortname){ %>
    <hr />
    <h3><%- __('comment')%>:</h3>
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
<% } %>

<% if(page.comments && theme.comments && theme.comments.facebook && theme.comments.facebook.appid) { %>
    <hr />
    <h3><%- __('comment')%>:</h3>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= theme.comments.facebook.appid %>";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-comments" data-href="<%= url %>" data-num-posts="<%= theme.comments.facebook.comment_count %>" data-width="100%" data-colorscheme="<%= theme.comments.facebook.comment_colorscheme %>"></div>
<% } %>

<% if(page.comments && theme.comments && theme.comments.uyan.id){ %>
    <hr />
    <h3><%- __('comment')%>:</h3>

    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.comments.uyan.id %>"></script>
    <!-- UY END -->
<% } %>

<% if(page.comments && theme.comments && theme.comments.duoshuo.domain){ %>
    <hr />
    <h3><%- __('comment')%>:</h3>

    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%-page.path%>" data-title="<%-page.title%>" data-url="<%-page.path%>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"<%-theme.comments.duoshuo.domain%>"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->

<% } %>

<% if(page.comments && theme.comments && theme.comments.git_ment.owner_id){ %>
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: location.href, // 可选。默认为 location.href
            owner: "<%= theme.comments.git_ment.owner_id %>",//查看https://api.github.com/users/用户名h
            repo: "<%= theme.comments.git_ment.comment_repo %>",
            oauth: {
                client_id: "<%= theme.comments.git_ment.client_id %>",
                client_secret: "<%= theme.comments.git_ment.client_secret %>",
            }
        });
        gitment.render('container');
    </script>
<% } %>

