<hr />

<%if(0){%>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <% if (theme.twitter_url) { %>
                        <li>
                            <a href="<%- theme.twitter_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.facebook_url) { %>
                        <li>
                            <a href="<%- theme.facebook_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.github_url) { %>
                        <li>
                            <a href="<%- theme.github_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.linkedin_url) { %>
                        <li>
                            <a href="<%- theme.linkedin_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.mailto) { %>
                        <li>
                            <a href="mailto:<%- theme.mailto%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.gitlab_url) { %>
                        <li>
                            <a href="<%- theme.gitlab_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br></p>
                <p class="copyright text-muted">Original Theme <a target="_blank" href="http://startbootstrap.com/template-overviews/clean-blog/">Clean Blog</a> from <a href="http://startbootstrap.com/" target="_blank">Start Bootstrap</a></p>
                <p class="copyright text-muted">Adapted for <a target="_blank" href="https://hexo.io/">Hexo</a> by <a href="http://www.codeblocq.com/" target="_blank">Jonathan Klughertz</a></p>
            </div>
        </div>
    </div>
</footer>


<%}else{%>


<!-- Footer -->
<footer>
    <div class="container social-icon">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">

                    <% if (theme.github_url) { %>
                        <li>
                            <a class="fa github-icon" href="<%- theme.github_url%>" target="_blank"></a>
                        </li>
                    <% } %>

                    <% if (theme.facebook_url) { %>
                        <li>
                            <a class="fa facebook-icon" href="<%- theme.facebook_url%>" target="_blank"></a>
                        </li>
                    <% } %>

                    <% if (theme.v2ex_url) { %>
                        <li>
                            <a class="fa v2ex-icon" href="<%- theme.v2ex_url%>" target="_blank"></a>
                        </li>
                    <% } %>
                    <% if (theme.segmentfault_url) { %>
                        <li>
                            <a class="fa segmentfault-icon" href="<%- theme.segmentfault_url%>" target="_blank"></a>
                        </li>
                    <% } %>
                    <% if (theme.oschina_url) { %>
                        <li>
                            <a class="fa oschina-icon" href="<%- theme.oschina_url%>" target="_blank"></a>
                        </li>
                    <% } %>
                    <% if (theme.weibo_url) { %>
                        <li>
                            <a class="fa weibo-icon" href="<%- theme.weibo_url%>" target="_blank"></a>
                        </li>
                    <% } %>
                    <% if (theme.jianshu_url) { %>
                        <li>
                            <a class="fa jianshu-icon" href="<%- theme.jianshu_url%>" target="_blank"></a>
                        </li>
                    <% } %>
                    <% if (theme.coding_url) { %>
                        <li>
                            <a class="fa coding-icon" href="<%- theme.coding_url%>" target="_blank"></a>
                        </li>
                    <% } %>

                </ul>
                <p class="copyright text-muted">&copy; 2016-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | Powered by <a target="_blank" href="https://github.com/klugjo/hexo-theme-clean-blog">clean-blog</a><br></p>
                <p class="copyright text-muted">友情链接：
                    <a target="_blank" href="http://wklken.me/">wklken</a>
                    &nbsp
                    <a target="_blank" href="http://litten.me/">litten</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<%}%>

